body{
    background-image: url(../img/fondo3.png);

}
.card{
    margin-top: 2rem;
    margin-left: 2rem;
}
iframe{
    margin-top: 3rem;
}
.row{
    margin-top: 1.5rem;
}
.nav-link{
    color: rgb(0, 255, 42) !important; 
}
#contacto{
    background-color: rgba(246, 101, 101, 0.8);
}